.file-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.file-container label {
  display: flex;
}
.file-label {
  font-weight: 600;
}
.file-wrapper {
  margin-left: 1em;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
