.input-container {
  display: flex;
}
.input-label {
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.input-label-text {
  font-weight: 600;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 1em;
}
