input[type='radio']::before {
  content: '';
}
.radio-label {
  padding-left: 0.25em;
  padding-right: 0.5em;
}
.radio-group-container {
  display: inline-flex;
}
.radio-wrapper {
  display: flex;
  margin-left: 1em;
  align-items: center;
}
